/*normalizadores*/
* {
  margin: 0;
  padding: 0 auto;
  text-decoration: none;
  box-sizing: border-box;
}

/*globales*/
body {
  display: flex;
  height: 500px;
  flex-direction: column;
  background:-webkit-linear-gradient(45deg, rgba(178,202,201,1) 0%,rgb(88, 90, 88) 51%,rgba(40,28,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
  }   

  /*nav*/
  
  .topheader{
    color:rgb(214, 217, 224);
    font-size: 10mm;
    background-color: rgb(3, 16, 71);
  }
  nav {
    background-color: rgb(3, 16, 71);
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  nav ul {
    background-color: rgb(3, 16, 71);
    display: flex;
    height: 20mm;
    padding: 1mm;
    list-style-type: none;
    gap: 1em;
    
  }
  
  nav ul li {
    color: whitesmoke;
    font-size: 10px;
    font-weight: auto;
    padding: 5mm;
    margin: 0.5mm;
    text-transform: uppercase;
    border: solid;
    border-color:silver;
    background-color: rgb(3, 16, 71);
  }
  
  nav ul li:last-child {
    border:solid;
  }
  nav ul li a {
    text-align: center;
    color: rgb(224, 215, 214);
    font-size: 5mm;
    padding: 1px;
    background-color: rgb(3, 16, 71);
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: gold;
    text-decoration-line: none;
    margin: 0;
  }
  
  .drawer {
    font-size: 1rem;
    color: var(--white-text);
    float: left;
    cursor: pointer;
    display: none;
    margin-left: 1rem;
    border: solid 1.5px var(--white-text);
    padding: .2rem;
    border-radius: .1rem;
  }
  
  #ckbox {
    display: none;
  }
  
  .logo img {
    display: flex;
    flex-direction: column;
    height: 30mm;
    margin: 1mm;
    margin-left: 1mm;
    border: solid;
    border-color: rgb(109, 165, 4);
  }
  
  .primerFormulario {
    text-align: center;
    color: rgb(224, 215, 214);
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 125);
    text-decoration: none;
    margin-bottom:1cm;
    margin-top: 1cm;
  }
  #divNotas {
    text-align: center;
    color: gold;
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 125);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 2cm;
  }

  .formularioNombre {
    text-align: center;
    color: god;
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 6);
    text-decoration: none;
    margin-bottom:1cm;
    margin-top: 1cm;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  #cuadroNombre {
    text-align: center;
    color: gold;
    font-size: 10mm;
    padding: 3px;
    background-color:rgb(136, 6, 6);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2cm;
  }
  
  /*titulos*/
  
  h1 {
    color: black;
    text-decoration: underline;
    text-align: center;
    text-decoration: underline;
    margin:10mm;
    font-size: 10cm;
    font-family: 'Stick No Bills', sans-serif;
  }
  
  #nombrepagina {
    color:rgb(31, 9, 129); 
    font-size: 3cm;
  }
  h2 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    color: red;
  }
  
  h3 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #e0d8d6;
    padding: 10px;
    font-size: 1cm;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    animation-duration: 20s;
    animation-name: aparecer;
  }


  @keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h4 {
    text-align: center;
    color: #0608a0;
    font-family: "Courier New", Courier, monospace;
  }
  
  h5 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #11140b;
    padding: 10px;
    font-size: 10mm;
  }
  
  p {
    color: rgb(223, 228, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5mm;
  }
  
  #variosModelos {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
    color: rgb(17, 173, 194);
  }
  
  /*card dolar*/
  .dOlar {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    border-color:lightseagreen;
  }
  
  /*boton dark*/
  #oScuro {
    color:rgb(173, 173, 39);
    background-color: rgb(10, 10, 10);
    border-color: rgb(238, 230, 230);
    border-radius: 5mm;
    margin-bottom: 2mm; 
    margin-bottom: 6mm;
    font-size: 5mm;
  }
  /*boton tu diseño*/
  #btnTutexto {
    margin:0 auto;
    color: rgb(19, 1, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5mm;
    border-radius: 5cm;
    border-color: #8dc50a;
  }
 #print {
    text-align: center;
    color: aqua;
    font-size: 5cm;
  }
  /*pie de pagina*/
  footer{
    margin:0;
    text-align: center;
    background-image: linear-gradient(to right ,rgb(8, 15, 75),blacK);
    height: 25vh;
    padding: 10mm;

  }
  article, footer{
    flex:1;
    margin:0;
  }
  
  /*texto que cambia index*/
  .wrapp {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
  }
  
  .wrapp .static-txt {
    color: #fff;
    font-size: 60px;
    font-weight: 400;
  }
  
  .wrapp .dynamic-txts {
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  
  .dynamic-txts li {
    list-style: none;
    color: #FC6D6D;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
  }
  
  @keyframes slide {
    100% {
      top: -360px;
    }
  }
  .dynamic-txts li span {
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  
  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    animation: typing 1s steps(2) infinite;
  }
  
  @keyframes typing {
    40%, 60% {
      left: calc(100% + 30px);
    }
    100% {
      left: 0;
    }
  }
  

  /*FOTOS INDEX*/
  .fOtitos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2mm;
    padding: 3mm;
    background-color:white;  
  }
  .fOtitos div {
    padding: 1mm 1mm 1mm 1 mm;
    color: #9192a7;
    text-align: center;
    border: solid;
    border-color: goldenrod;
    margin: 1;
  }
  /*GRID CONTACTO*/
  .cOntacto {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2mm;
    padding: 3mm;
    background-color:rgb(22, 21, 21);  
  }
  .cOntacto div {
    padding: 1mm 1mm 1mm 1 mm;
    color: #0b1574;
    text-align: center;
    border: solid;
    border-color: rgb(1, 24, 27);
    margin: 1;
  }

  /*FOTOS INDEX*/
  .cArteles {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 2mm;
    padding: 3mm;
  }
  .cArteles div {
    background-color: rgb(25, 6, 90);
    padding: 1mm 1mm 1mm 1 mm;
    color: #08132b;
    text-align: center;
    border: solid;
    border-color: rgb(233, 231, 227);
    margin: 1;
  }

/*formulario*/

  .card {
    background-color: rgb(143, 211, 17);
    box-shadow: 10px 10px 8px #6b3939;
}
.form-label {
    color:#94be0a ;
    font-weight: bold; 
    font-size: 1.5rem;
    
}

button {
    margin-left: 10px; 


}

button.btn.btn-info {
    color: rgb(143, 173, 6);
    background-color:#08618d;
}


/* media query */

@media (max-width:768px) {
    nav{
        justify-content: flex-start;
    }
    .drawer{
        display: block;
    }
  
    nav h1{
        margin-left: 3rem;
        
    }
  
    ul {
        position: fixed;
        background-position: center;
        top: 10vh;
        left:-100%;
        text-align: left;
        transition: all .10s;
        display: flex;
        flex-direction: column;
        align-content: stretch;    
    }
    nav ul li {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
        border-bottom: solid .1rem rgba(61, 6, 54, 0.4);
        
    }
  
    #ckbox:checked  ~ .menu-box{
        left:0;
    }
  

    .logo img {
      display: flex;
      flex-direction: column;
      height: 3 0mm;
      margin-top: 2mm;
      margin-left: 1mm;
      border: solid;
      border-color: rgb(2, 1, 19);
    }
    .fOtitos{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .fOtitos div{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .fOtitos img{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
    .cArteles{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  .cArteles div{
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
    .cOntacto {
    display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 30mm;
    }
  }

